.chat-container {
  position: fixed;
  bottom: 0; /* Align to the bottom */
  right: 0; /* Align to the right */
  width: 100%;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f0f0f0;
  transition: transform 0.3s ease; /* Add transition for smoother animation */
  transform: translateY(100%); /* Initially move container out of the screen */
}

.chat-container.visible {
  transform: translateY(0); /* Move container into the screen */
}

.header {
  display: flex;
  justify-content: space-between; /* Changed to space-between */
  padding: 10px;
  background-color: #007bff;
  color: white;
}

.chatbot-title {
  font-weight: bold;
}

.toggle-button {
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
}

.messages {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f0f0f0;
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.message.user {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
}

.message.bot {
  background-color: #e0e0e0;
  align-self: flex-start;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
}

.file-input {
  display: none;
}

.file-label {
  cursor: pointer;
  margin-right: 10px;
  font-size: 24px;
}

.text-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.send-button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.dark {
  background-color: #333;
  color: white;
}

.dark .messages {
  background-color: #444;
}

.dark .message.bot {
  background-color: #666;
}

.dark .text-input,
.dark .send-button,
.dark .toggle-button {
  background-color: #555;
  color: white;
}

.dark .file-label {
  color: white;
}

/* Media queries for responsive design */
@media (max-width: 600px) {
  .chat-container {
    border-radius: 0;
    width: 100%;
  }

  .toggle-button {
    font-size: 12px;
  }

  .file-label {
    font-size: 18px;
  }

  .text-input {
    font-size: 14px;
    padding: 8px;
  }

  .send-button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .message {
    font-size: 14px;
  }

  .header {
    padding: 5px;
  }
}
