
.chat-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 800%; 
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between; /* Adjusted to space between */
  align-items: center;
  padding: 20px;
  background-color: #1a1a1a; /* Dark background */
  color: white;
}

.chatbot-title {
  font-weight: bold;
  font-size: 24px;
}

/* Messages container */
.messages {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

/* Individual message */
.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.message.user {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
}

.message.bot {
  background-color: #e0e0e0;
  align-self: flex-start;
}

/* Input container */
.input-container {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0; /* Lighter background */
}

/* File input */
.file-input {
  display: none;
}

.file-label {
  cursor: pointer;
  margin-right: 10px;
  font-size: 24px;
}

/* Text input */
.text-input {
  flex-grow: 1;
  padding: 15px;
  border: none; /* Removed border */
  border-radius: 30px; /* Rounded input */
  background-color: white; /* Input background */
  margin-right: 10px;
  font-size: 18px;
}

/* Send button */
.send-button {
  padding: 15px 30px;
  cursor: pointer;
  background-color: #007bff; /* Blue color */
  color: white;
  border: none;
  border-radius: 30px; /* Rounded button */
  font-size: 18px;
}

/* History styles */
.history {
  margin-bottom: 20px;
}

.history-list {
  margin-top: 10px;
}

.history-item {
  padding: 10px;
  border-radius: 5px;
  background-color: #ddd;
  margin-bottom: 10px;
}

.history-item p {
  margin: 0;
}

/* Media queries for responsive design */
@media (max-width: 600px) {
  .chat-container {
    border-radius: 0;
    width: 100%;
  }

  .file-label {
    font-size: 18px;
  }

  .text-input {
    font-size: 14px;
    padding: 10px;
  }

  .send-button {
    padding: 10px 20px;
    font-size: 14px;
  }

  .message {
    font-size: 14px;
  }
}
